@font-face {
   font-family: 'Open Sans';
   src: url('../font/Open-Sans/OpenSans-Light.eot');
   src: url('../font/Open-Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
          url('../font/Open-Sans/OpenSans-Light.woff') format('woff'),
          url('../font/Open-Sans/OpenSans-Light.woff2') format('woff2'),
          url('../font/Open-Sans/OpenSans-Light.ttf') format('truetype'),
          url('../font/Open-Sans/OpenSans-Light.svg#OpenSans-light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
   font-family: 'Open Sans';
   src: url('../font/Open-Sans/OpenSans-Regular.eot');
   src: url('../font/Open-Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('../font/Open-Sans/OpenSans-Regular.woff') format('woff'),
          url('../font/Open-Sans/OpenSans-Regular.woff2') format('woff2'),
          url('../font/Open-Sans/OpenSans-Regular.ttf') format('truetype'),
          url('../font/Open-Sans/OpenSans-Regular.svg#OpenSans-normal') format('svg');
  font-weight: 400;
  font-style: normal;
}
