.volume-toolbar{
    margin-bottom: 10px;
}
.volumes-list {
    .volume-heading{
        margin-top: 5px;
        text-align: center;
        word-break: break-all;
        h3{
            font-size: 20px;
            font-weight: 300;
            margin: 0 0 5px;
        }
        .meta{
            color: #aab2bd;
        }
    }
    .volumes{
        $volumeBgColor: #f2f4f7;
        margin-bottom: 10px;
        padding: 0px;
        .volume{
            text-align: center;
            min-height: 60px;
            background-color: $volumeBgColor;
            @include border-radius(4px 0px);
            border: none;
        }
        .volume-detail{
            padding: 15px 0 20px 40px;
            border: 1px solid $baseBorderColor;
            border-top:0;
            table{
                width: 95%;
                tr{
                    &:hover{
                        background-color: white;
                    }
                    td{
                        span{
                            display: inline-block;
                            border-width: 1px;
                            border-color: transparent;
                            background-color: transparent;
                            border-style: none none dotted;

                            padding: 5px;
                            margin-bottom: 5px;

                            &.value{
                                color: #999!important;
                                border-bottom-color:$defaultBorderColor;
                            }
                            &.engineK{
                                float: right;
                                width: 90%;
                            }
                        }
                        ul{
                            $evenColor: #f9f9f9;
                            li{
                                overflow: hidden;//BFC
                            }
                            li:nth-child(even){
                                background-color: $evenColor;
                            }
                        }
                    }
                }

            }
        }

    }
}
.create-volume-btn{
    i.fa-1x{
        margin-left: -6px;
    }
    i.fa-2x{
        font-size: 1.3em;
    }

    &.btn-default,
    &.btn-default:hover{
        background-color: #cfcece;
    }
}
