.breadcrumbs#breadcrumbs
    script(type="text/javascript").
      try{ace.settings.check('breadcrumbs', 'fixed')}catch(e){}
    ul.breadcrumb
        li
            i.icon-home.home-icon
            a(href="#") home
        li
            a(href="#") 容器管理
        li.active 容器详细信息
    <!-- .breadcrumb -->
.page-content
    .page-header
        h1 
            span 容器管理
            small
                i.icon-double-angle-right
                | 当前容器 {{ container['node_name'][0] }} 信息
    .row
        .col-xs-12
            <!-- page contnt begins-->
            .content-body
                section#docker
                    .details
                        .details-head
                            .row
                                .col-lg-6 
                                    //- node_name[0] 应该是节点名称 node_name[1]应该是 容器名字 需要测试
                                    h1 名称: {{ container['node_name'][1] }}
                                        span.state-label.play(ng-if="container.Status == 'running'")
                                            i.icon-play
                                            | 运行中
                                        span.state-label(ng-if="container.Status =='stop'" class="state-label") 
                                            i.icon-pause
                                            | 停止
                                        span.state-label.error(ng-if="container.Status== 'error'") Error
                                .col-lg-6
                                    .btn-group
                                        button.btn.btn-primary(ng-if="container.Status=='stop'" ng-click="startContainer(container)") 开始
                                        button.btn(ng-if="container.Status == 'running'" ng-click="stopContainer(container)")  停止
                        .details-body
                            .row
                                .col-lg-12
                                    .tabbable
                                        ul.nav.nav-tabs#detailsTab
                                            li.active
                                                a(data-toggle='tab' data-href="#network") 服务地址
                                            li
                                                a(data-toggle='tab' data-href='#volume') 数据卷
                                            li 
                                                a(data-toggle='tab' data-href='#env') 环境变量
                                            li
                                                a(data-toggle='tab' data-href='#link') 链接
                                            li
                                                a(data-toggle='tab' data-href='#log' ng-click='getLog()') 日志
                                        .tab-content
                                            #network.tab-pane.active 
                                                p 服务IP:
                                                    span(ng-if="!container.NetworkSettings.IPAddress") 当前容器处于停止状态 无IP
                                                    {{ container.NetworkSettings.IPAddress }}
                                                    
                                                div.portList
                                                    table.table.table-bordered
                                                        thead
                                                            tr 
                                                                th 暴露端口
                                                                th 绑定ip
                                                                th 映射端口
                                                        tbody
                                                            tr(ng-if="!container.portList.length")
                                                                td(colspan='3') 该实例没有服务端口
                                                                    
                                                            tr(ng-repeat="item in container.portList")
                                                                td {{ item.exposePort }}
                                                                td
                                                                    span(ng-if="!item.bindHostIp") 无
                                                                    {{ item.bindHostIp }}
                                                                td
                                                                    span(ng-if="!item.bindHostPort") 无
                                                                    {{ item.bindHostPort }}
                                                    
                                            #volume.tab-pane
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th 挂载目录
                                                            th 宿主机目录
                                                    tbody
                                                        tr(ng-if="!container.volumesList.length")
                                                            td(colspan=2)  没有挂载数据卷
                                                        tr(ng-repeat="item in container.volumesList")
                                                            td {{ item.volumeInContainer }}
                                                            td {{ item.volumeInHost }}
                                                
                                            #env.tab-pane
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th 名称
                                                            th 值
                                                    tbody
                                                        tr(ng-if="!container.envList.length")
                                                            td(colspan='2') 没有自定义环境变量        
                                                        tr(ng-repeat="item in container.envList")
                                                            td {{ item.name }}
                                                            td {{ item.value }}
                                            #link.tab-pane
                                                h6 链接到
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th 服务
                                                            th 别称
                                                    tbody
                                                        tr(ng-if="!container.linkList.length")
                                                            td(colspan='2')
                                                                | 没有依赖任何服务
                                                        tr(ng-repeat="item in container.linkList")
                                                            td {{ item.server  }}
                                                            td {{ item.alias }}
                                                        
                                            #log.tab-pane
                                                div.log-termial
                                                    pre.log(ng-bind='container.log')
                                                    
                        
                    
                        
                    
            <!-- page content end -->
        <!-- ./col-->
<!-- /.page-content-->
