//-layout.jade
doctype 
html
    block head 
        include head.jade
    block head_extra
    body
        block content
        footer
            block footer
            <!--base script-->
            <!-- [if !IE]> -->
            script(type="text/javascript" src="./js/jquery-2.0.3.min.js")
            <!-- <![endif]-->
            <!--[if IE]>
            script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
            <![endif]-->
            <!--[if !IE]> -->
            script(type="text/javascript").
              window.jQuery || document.write("<script src='./assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>")
            <!-- <![endif]-->
            <!--[if IE]>
            <script type="text/javascript">
            window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
            </script>
            <![endif]-->
            script(type="text/javascript").
              if('ontouchend' in document) document.write("<script src='./assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
            script(type="text/javascript" src="./assets/js/bootstrap.min.js")
            script(type="text/javascript" src="./assets/js/typeahead-bs2.min.js")
            <!-- page specific plugin scripts -->
            script(type="text/javascript" src="./assets/js/jquery-ui-1.10.3.full.min.js")
            script(type="text/javascript" src="./assets/js/jquery.ui.touch-punch.min.js")
            script(type="text/javascript" src="./assets/js/date-time/bootstrap-datepicker.min.js")
            script(type="text/javascript" src="./assets/js/jqGrid/jquery.jqGrid.min.js")
            script(type="text/javascript" src="./assets/js/jqGrid/i18n/grid.locale-en.js")
            <!-- ace scripts -->
            script(type="text/javascript" src="./assets/js/ace-elements.min.js")
            script(type="text/javascript" src="./assets/js/ace.min.js")
            <!-- inline scripts related to this page -->
            script(type="text/javascript" src="./js/common.js")
            block footer_extra
                
            
    
    
