.slider-body
    position relative
    text-align left
    border 0

.slider
    margin 10px
    width 200px
    display block
    height 9px
.slider-line
    background-color #ccc
    width 100%
    height 9px
    position absolute
    top 0
    right 0
    display inline-block
.slider-bar
    position absolute
    z-index 1
    display block
    border 0
    background-position 0 0
    background-color #4aa4ce
    left 0
    top 0
    height 100%
    width 100%
.slider-hander
    border-color #606060
    color @border-color
    box-shadow 1px 1px 1px 0 rgba(0, 0, 0, 0.3)
    background-color #fff
    border-radius 0
    width 1.45em
    height @width
    border 1px solid
    position absolute
    z-index 2
    display inline-block
    top -5px
    &:before
        display inline-block
        content "|||"
        font-size 8px
        font-family Helvetica,Arial,sans-serif
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        text-align center
        line-height 15px
    &.slider-bar-from
        left 0px
    &.slider-bar-to
        right 0px
