
.content-body.create-container(ng-if="load.loaded")
    .row
        .col-lg-9
            .panel.panel-default.panel-page-header
                .panel-body
                    .primary-section
                        h2  部署应用
                        div.image
                            div.img-icon
                                img(ng-src="/assets/images/container.svg")
                            div.img-msg
                                div
                                    h3 {{ imageName }}
                                div(ng-if="remote" ng-cloak)
                                    span.sm-title 来源:
                                    span.sm-title DockerHub镜像
                                div(ng-if="!remote" ng-cloak)    
                                    div
                                        span.sm-title 版本号 &nbsp;
                                        span.sm-text
                                            i.fa-tag 
                                            | {{ imageTag }}
                                    div
                                        span.sm-title 镜像大小 &nbsp;
                                        span.sm-text {{ imageSize }}
                        
                    
            .panel.panel-default    
                .panel-body(ng-switch="step")
                    section.setting-section
                        div.steps-content
                            ol.steps
                                li(ng-class="{'current': step===1, 'done': step !== 1}")
                                    .step-item
                                        div 
                                            i.fa.fa-sm.fa-edit.text-success(ng-if="step===1")
                                            i.fa.fa-sm.fa-check.text-success(ng-if="step!==1")
                                        span 基础设置
                                li(ng-class="{'current': step===2, 'done': step === 3}")
                                    .step-item
                                        div
                                            i.fa.fa-sm.fa-edit.text-success(ng-if="step===2")
                                            i.fa.fa-sm.fa-check.text-success(ng-if="step===3")    
                                        span 网络设置
                                li.last(ng-class="{'current': step===3}")
                                    .step-item
                                        div
                                            i.fa.fa-sm.fa-edit.text-success(ng-if="step===3")
                                        span 高级设置
                    section.form-section.setting-section(ng-switch-when="1")
                        div(ng-controller="containerFormController")
                            form.form-horizontal(roel='containerForm', name='containerForm' novalidate)
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right(for="container-name")  服务名称   
                                        span.txt-color-red *
                                    div.col-sm-10
                                        input#container-name(type="text" name="container_name" ng-model="container.name" ng-change="checkContainerName()" ng-blur="checkContainerName()" autofocus tabindex="0" required)
                                        span.text-danger(ng-if="!available.name") {{ available.nameErrorMsg }}
                                        
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right  容器实例大小
                                        span.txt-color-red *
                                    div.col-sm-10
                                        ul.type-list
                                            li(ng-repeat="s in containerSize" ng-class="{ 'active' : container.size == s}" ng-click="selectContainerSize(s)")
                                                div.panel
                                                    div.panel-heading
                                                        span {{ s.level }}
                                                        span.pull-right
                                                            i.fa.fa-check
                                                    div.panel-body
                                                        p {{s.mem }}
                                                        p {{s.cpu}}
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right(for="cmd") 自启动命令
                                        span.txt-color-red *
                                    div.col-sm-10
                                        input#cmd(name="cmd" type="text", ng-model="container.cmd")
                                        
                    section.setting-section(ng-switch-when="2")
                        div(ng-controller="portFieldController")
                            .row
                                .col-sm-2
                                    h5.head 端口映射
                            hr
                            form.form-horizontal(roel="addPortForm" name="addPortForm")
                                .form-group                              
                                    label.col-sm-2.control-label.no-padding-right(for="containerPort") 源端口
                                    .col-sm-2(ng-class="{'state-error': getStatusError(addPortForm, 'container_port')}")
                                        input#containerPort(type="text" name="container_port" ng-model="portSt.newPort" required)
                                        span.error(ng-show="portSt.newPortRegex") 请输入正确的端口号
                                    label.col-sm-2.col-sm-offset-1.control-label.no-padding-right 目标端口
                                    .col-sm-3
                                        input(type="text" name="host_port" ng-model="portSt.hostPort")
                                        span.error(ng-show="portSt.hostPortRegex") 请输入正确的端口号
                                    .col-sm-1 
                                        span.btn.btn-primary(ng-click="addPort()") 增加
                                .form-group(ng-if="portSt.portInstanceList.length")
                                    .col-sm-10.col-sm-offset-1
                                        table.table.table-bordered
                                            thead
                                                tr.text-center
                                                    th.text-center 源端口
                                                    th.text-center 目标端口
                                                    th 
                                            tbody 
                                                tr(ng-repeat="portInstance in portSt.portInstanceList")
                                                    td.text-center {{ portInstance.containerPort }}
                                                    td.text-center {{ portInstance.hostPort }}
                                                    td.text-center
                                                        span.btn.btn-danger(ng-click="delePort(portInstance)") 删除
                    section.setting-section(ng-switch-when="3")
                        div(ng-controller="envFieldController")
                            .row
                                .col-sm-2
                                    h5.head 环境变量
                            hr
                            form.form-horizontal(roel="addEnvForm" name="addEnvForm" novalidate)                    
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right(for="env") 变量名称
                                    .col-sm-2(ng-class="{'state-error': getStatusError(addEnvForm, 'container_env_name')}")
                                        input#env(type="text" name="container_env_name", ng-model="envKey" required)
                                    label.col-sm-2.col-sm-offset-1.control-label.no-padding-right(for="envVal") 变量值
                                    .col-sm-3(ng-class="{'state-error': getStatusError(addEnvForm, 'container_env_val')}")
                                        input#envVal(type="text" name="container_env_val" ng-model="envValue" required)
                                    .col-sm-1
                                        span.btn.btn-primary(ng-click="addEnv()") 增加
                                .form-group(ng-if="env.envInstanceList.length")
                                    .col-sm-10.col-sm-offset-1
                                        table.table.table-bordered
                                            thead
                                                tr 
                                                    th.text-center 变量名称
                                                    th.text-center 变量值
                                                    th 
                                            tbody 
                                                tr(ng-repeat="env in env.envInstanceList")
                                                    td.text-center {{ env.envKey }}
                                                    td.text-center {{ env.envValue }}
                                                    td.text-center
                                                        span.btn.btn-sm.btn-danger(ng-click="deleEnv(env)") 删除
                        div(ng-controller="volumeFieldController")
                            .row
                                .col-sm-2
                                    h5.head 共享数据卷
                            hr
                            form.form-horizontal(role="addVolumeForm" name="addVolumeForm" novalidate)
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right(for="volumehost") 共享路径
                                    .col-sm-2(ng-class="{'state-error': getStatusError(addVolumeForm, 'container_volume_host')}")
                                        input#volumehost(type="text" name="container_volume_host", ng-model="volumeHost" required)
                                    label.col-sm-2.col-sm-offset-1.control-label.no-padding-right(for="volumedest") 挂载路径
                                    .col-sm-3(ng-class="{'state-error': getStatusError(addVolumeForm, 'container_volume_dest')}")
                                        input#volumedest(type="text" name="container_volume_dest" ng-model="volumeDest" required)
                                    .col-sm-1
                                        span.btn.btn-primary(ng-click="addVolume()") 增加
                                .form-group(ng-if="volume.volumeList.length")
                                    .col-sm-10.col-sm-offset-1
                                        table.table.table-bordered
                                            thead
                                                tr 
                                                    th.text-center 共享路径
                                                    th.text-center 挂载路径
                                                    th 
                                            tbody 
                                                tr(ng-repeat="volume in volume.volumeList")
                                                    td.text-center {{ volume.volumeHost }}
                                                    td.text-center {{　volume.volumeDest }}
                                                    td.text-center
                                                        span.btn.btn-danger(ng-click="delVolume(volume)") 删除
                        div(ng-controller="containerLinkController")
                            .row
                                .col-sm-2
                                    h5.head 服务链接
                            hr
                            form.form-horizontal(role="addLinkForm" name="addLinkForm" novalidate)                 
                                .form-group
                                    label.col-sm-2.control-label.no-padding-right() 链接服务
                                    .col-sm-2
                                        select#selectLinkService(ng-model="linkName" ng-options="v for v in containerNameList")
                                        span.error(ng-show="notChoosedLink && clickedAddBtn") 请选择一个服务
                                    
                                    label.col-sm-2.col-sm-offset-1.control-label.no-padding-right(for="linkAlias") 别名
                                    .col-sm-3
                                        input#linkAlias(type="text" name="link_alias" ng-model="linkAlias")
                                    .col-sm-1
                                        span.btn.btn-primary(ng-click="addLink()") 增加
                                .form-group(ng-if="link.linkInstanceList.length")
                                    .col-sm-10.col-sm-offset-1
                                        table.table.table-bordered
                                            thead
                                                tr 
                                                    th.text-center 名称
                                                    th.text-center 别名
                                                    th 
                                            tbody 
                                                tr(ng-repeat="link in link.linkInstanceList")
                                                    td.text-center {{ link.name }}
                                                    td.text-center {{ link.alias }}
                                                    td.text-center
                                                        span.btn.btn-danger(ng-click="deleLink(link)") 删除
                    section.setting-section
                        .row
                            .col-sm-12
                                button.btn.btn-lg.btn-primary(ng-click="nextStep(2)",　ng-if="step==1" ng-disabled="!container.name || !available.name")
                                    span
                                        | 网络设置 
                                        i.fa.fa-angle-double-right.follow-next
                                button.btn.btn-lg.btn-default(ng-click="nextStep(1)",　ng-if="step==2")
                                    span
                                        i.fa.fa-angle-double-left.followed-previous
                                        | 基础设置 
                                button.btn.btn-lg.btn-default(ng-click="nextStep(2)",　ng-if="step==3")
                                    span
                                        i.fa.fa-angle-double-left.followed-previous
                                        | 网络设置 
                                        
                                button.btn.btn-lg.btn-primary(ng-click="nextStep(3)",　ng-if="step==2")  
                                    span
                                        | 高级设置 
                                        i.fa.fa-angle-double-right.follow-next
                                    
                                button.btn.btn-lg.pull-right.create-container-btn(ng-click="createConteiner()" ng-class="{'btn-success': !waitForCreated, 'btn-default': waitForCreated}" ng-disabled="!container.name || !available.name || waitForCreated" style="padding-left:60px; padding-right:60px;")
                                    i(ng-if="waitForCreated").fa.fa-cog.fa-spin.fa-2x.fa-fw
                                    i(ng-if="waitForCreated").fa.fa-cog.fa-spin.fa-1x.fa-fw
                                    | 创建
                                div.clearfix(style="margin-top:15px;")
                                    span.msg(ng-if="waitForCreated" ng-cloak) 由于网络带宽过小或者容器本身体积过大可能会导致创建实例过程比较缓慢，请耐心等候

                                
