.content-body.create-container{
    .image{
        display: inline-block;
        min-width: 300px;
        width: 400px;
        height: 100px;
        .img-icon{
            width:100px;
            height:100%;
            float: left;
            margin-right: 10px;
        }
        .img-msg{
            height:100%;
            margin-left: auto;
            h3{
                font-size: 21px;
                color: #46B79E;
            }
            span{
                color:$baseFontColor;
                &.sm-text{
                    font-size: 14px;
                }
            }

        }
    }
    h5.head{
        font-weight:bold;
        font-size: 14px;
        text-align:right;
        margin-bottom:0;
        margin-top:0;
    }
    .create-container-btn{
        i.fa-2x{
            font-size: 19px;
        }
        i.fa-1x{
            font-size: 15px;
            margin-left: -6px;
        }
        &.btn-default{
            background-color: #cfcece;
        }
    }
    .type-list{
        display: inline-block;
        li{
            float: left;
            display: inline-block;
            border: 2px solid lighten($baseBorderColor, 5%);
            @include transform(border 200ms);
            .panel{
                margin-bottom: 0px;
                border-width: 0;
                .panel-heading{
                    background-color: rgb(97, 149, 143);
                    color: white;
                    @include border-radius(0);
                }
                .panel-body{
                    padding: 6px 15px 0px;
                }
            }
            &:not(:first-child){
                margin-left: 10px;
            }
            &.active{
                border: 2px solid lighten(#000, 30%);
                i{
                    color:rgb(47, 240, 15);
                }
            }
        }
    }

}
