extends layout.jade
block head_extra
    link(type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}")
    link(type="text/css" rel="stylesheet" href="{% static 'css/morris.css' %}")
    link(type="text/css" rel="stylesheet" href="{% static 'css/slider.css' %}")
    link(type="text/css" rel="stylesheet" href="{% static 'css/ngProgress.css' %}")
    link(type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css")
block content
    .main-container#main-container(ng-app='dockerApp')
        script(type="text/javascript").
          try{ace.settings.check('main-container', 'fixed')}catch(e){}
        .main-container-inner
            include sidebar.jade
            .main-content(ng-view)
            <!-- /.main-content -->
            include ace-settings.jade
        <!-- /.main-container-inner -->
    <!-- /.main-container -->
block footer
    #dialog-delform.hide
        .alert.alert-info.bigger-110 确定删除当前行关联的Docker远程数据？
        .space-6
        p.bigger-110.bolder.center.grey
            i.icon-hand-right.blue.bigger-120
            | Are you sure?
    #dialog-renameConflictform.conflict-form.error.hide
        .alert.alert-info.bigger-110 已经存在相同名字的容器实例，请出重新命名.
        .space-6
    #dialog-servererrorform.server-error-form.error.hide
        h2.danger.text-center 500错误!
        .alert.alert-info.bigger-110 无法创建服务实例，可能由于你申请的资源量超过系统现在可用资源数量或产生了资源冲突， 请重新申请 
    #dialog-delform2.hide
        h2.danger.text-center 警告!
        .alert.alert-info.bigger-110 存在依赖于当前镜像的容器实例，是否仍旧删除当前镜像？？
        .space-6
        p.bigger-110.bolder.center.grey
            i.icon-hand-right.blue.bigger-120
            | Are you sure?
block footer_extra
    script(type="text/javascript" src="{% static 'js/component/raphael.js' %}")
    script(type="text/javascript" src="{% static 'js/morris.js' %}")
    script(type='text/javascript' src="{% static 'js/angular.js' %}")
    script(type='text/javascript' src="{% static 'js/component/angular-filter.min.js' %}")
    script(type='text/javascript' src="{% static 'js/component/angular-route.js' %}")
    script(type='text/javascript' src="{% static 'js/component/pager.js' %}")
    script(type='text/javascript' src="{% static 'js/component/slider.js' %}")
    script(type='text/javascript' src="{% static 'js/component/ngProgress.js' %}")
    script(type='text/javascript' src="{% static 'js/dockerApp.js' %}")
    script(type='text/javascript' src="{% static 'js/resourceController.js' %}")
    script(type='text/javascript' src="{% static 'js/imageController.js' %}")
    script(type='text/javascript' src="{% static 'js/containerController.js' %}")
    script(type='text/javascript' src="{% static 'js/containerCreateController.js' %}")
    
            
