/* common */
*
  margin 0
  padding 0
  border-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  -o-box-sizing border-box
 body
   font-size 10px
.center-block
    display table
    margin-left auto
    margin-right auto
.main-page
    margin-top 100px
.aside-menu
  .ui-menu
    .ui-menu-item
        padding 10px 1em 10px .4em
        border 2px solid #fff
        &.selected
        &:hover
          border 2px solid #4297d7
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td
    word-wrap break-word

/* end */
pre
    &.log
        background #000
        color #fff
// span for play and pause
span.state-label
    margin 0 4px
    padding 2px 5px
    min-height 24px
    display inline-block
    line-height 20px
    vertical-align middle
    background-color #b4c2cc!important
    border-radius 4px
    &.play
        background-color #6c9842!important
    &.error
        background-color #b52c26!important
        padding-left 7px
        padding-right 8px
/* detail.jade*/

/* end detail jade*/
/* create jade */

/* end*/

/* resource jade*/
ul, li
    list-style none

/* end*/
.footer
    margin-top 200px
