
//- page contnt begins
.content-body.container-list(ng-if="load.loaded")
    .panel.panel-default.panel-page-header
        .panel-body
            .primary-section
                h2  应用管理
                p 这里通过表格的形式显示出SWARM集群中已经部署的所有的容器应用
            .secondary-section
                .row
                    .col-xs-12.col-sm-12
                        h4 如何在SRARM集群中部署您的容器应用?
                        p 您可以从镜像仓库中挑选镜像(目前只支持swarm集群中已有的镜像)并生成容器应用
                            a(ui-sref="imageList") 镜像列表
    .panel
        section.panel-body
            div.table-container
                div.table-toolbar
                    div.btn-group
                        button.btn.btn-danger(ng-if="checkedItem", ng-click="deleteCheckedApp()" tabindex="0") 删除
                div.table.main
                    table.table.table-bordered
                        thead
                            tr 
                                th
                                th.left 名称
                                th.text-center 运行节点
                                th.text-center 状态
                                th.text-center 所属镜像
                                th.text-center 创建时间
                                th.text-center 动作
                        tbody
                            tr(ng-repeat="container in containerList | orderBy: '-Created'" ng-class="{'selected' : container.check, 'new' : newContainer && newContainer.name == container.name }")
                                td.checkbox
                                    div
                                        input(type="checkbox" ng-model="container.check" ng-change="checkItem(container)" tabindex="0")
                                td.left
                                    span {{ container.name }}
                                    span(ng-if="newContainer && newContainer.name == container.name" style="color:#F6566B") (New)
                                td.text-center 
                                    span {{ container.node }} 
                                td.text-center
                                    span.state-label.play.item-success(ng-if="container.status == 'running'")
                                        | 运行中
                                    span.state-label(ng-if="container.status =='stop'") 
                                        | 停止
                                    span.state-label.error(ng-if="container.status== 'error'") 应用异常
                                td.text-center 
                                    span {{ container.Image }}
                                    br
                                    span.item-tag
                                        i.fa.fa-tag 
                                        | &nbsp;{{container.imageTag }}
                                    
                                td.text-center {{ container.Created*1000 | date:'yyyy-MM-dd HH:mm' }}
                                td.text-center
                                    a(ui-sref="containerDetail({id: container.name })") 查看详情
                    paging(page="options.currentPage" page-size="options.itemsPerPage" total="containerCount"  dots="......" hide-if-empty="true" show-prev-next="true"  paging-action="loadMore(page)")
             
                    
