
<!-- page contnt begins-->
.content-body
    section#docker
        table.table.table-bordered
            tr 
                th.text-center 名称
                th.text-center 运行节点
                th.text-center 状态
                th.text-center 所属镜像
                th.text-center 创建时间
                th.text-center 动作
            tr(ng-repeat="container in containerList | orderBy: 'Created'")
                td.text-center 
                    span {{ container.name }}
                td.text-center 
                    span {{ container.node }} 
                td.text-center
                    span.state-label.play(ng-if="container.status == 'running'")
                        | 运行中
                    span.state-label(ng-if="container.status =='stop'") 
                        | 停止
                    span.state-label.error(ng-if="container.status== 'error'") 应用异常
                td.text-center {{ container.Image }}
                td.text-center {{ container.Created*1000 | date:'yyyy-MM-dd HH:mm' }}
                td.text-center
                    a(ui-sref="containerDeatil({id: container.name })") 查看详情
                //- paging(page="options.currentPage" page-size="options.itemsPerPage" total="containerCount" hide-if-empty="true" show-prev-next="true"  paging-action="loadMore(page)")
