.main
    .container
        .main-content
            .app-list
                a.icon-view#cluster(ui-sref="cluster" title="集群资源使用情况") 集群资源
                a.icon-view#containerList(ui-sref="containerList" title="集群容器应用列表") 应用列表
                a.icon-view#imageList(ui-sref="imageList" title="集群容器镜像列表") 镜像列表
                    
        

    
            
