block head_extra
block content
    .main-container#main-container
        .main-container-inner
            include ../components/slidebar/sidebar.jade
            .main-content
            // .main-content
            section#docker
                .resource.row
                    .resource-main.col-sm-7.col-sm-offset-2
            // .main-container
block footer
block footer_extra
    
            
