div(ng-if="load.loaded" ng-cloak)
    .code
        h1
            span(style="color:#97C774;") H
            span(style="color: #B63E98;") E
            span(style="color: #D18E62;") L
            span(style="color: #DB3E41;") L
            span(style="color: #1BABA5;") O
            span , D
            span.planet-wraper.planet-shadow
                .planet
                    .crater-1
                    .crater-2
                    .crater-3
                    .crater-4
                    .crater-5
            | cker
            h2 /*Docker Swarm 可视化解决方案*/
            .btn-group
                a.btn.dashboard-btn.btn-ghost-light(ng-click="goToDashboard()") 进入控制台
        
        
