
<div id="ace-settings-container" class="ace-settings-container">
  <div id="ace-settings-btn" class="btn btn-app btn-xs btn-warning ace-settings-btn open"><i class="icon-cog bigger-150"></i></div>
  <div id="ace-settings-box" class="ace-settings-box">
    <div>
      <div class="pull-left">
        <select id="skin-colorpicker" style="display: none;" class="hide">
          <option data-skin="default" value="#438EB9">#438EB9</option>
          <option data-skin="skin-1" value="#222A2D">#222A2D</option>
          <option data-skin="skin-2" value="#C6487E">#C6487E</option>
          <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
        </select>
      </div><span>Choose Skin</span>
    </div>
    <div>
      <input id="ace-settings-navbar" type="checkbox" class="ace ace-checkbox-2"/>
      <label for="ace-settings-navbar" class="lbl">Fixed NavBar</label>
    </div>
    <div>
      <input id="ace-settings-sidebar" type="checkbox" class="ace ace-checkbox-2"/>
      <label for="ace-settings-sidebar" class="lbl">Fixed Sidebar</label>
    </div>
    <div>
      <input id="ace-settings-breadcrumbs" type="checkbox" class="ace ace-checkbox-2"/>
      <label bor="ace-settings-breadcrumbs" class="lbl"> Fixed Breadcrumbs</label>
    </div>
    <div>
      <input id="ace-settings-rtl" type="checkbox" class="ace ace-checkbox-2"/>
      <label for="ace-settings-rtl" class="lbl"> Right To Left (rtl)</label>
    </div>
    <div>
      <input id="ace-settings-add-container" type="checkbox" class="ace ace-checkbox-2"/>
      <label for="ace-settings-add-container" class="lbl">Inside<b>container</b></label>
    </div>
  </div><!-- /#ace-settings-container -->
</div>