{% load staticfiles %}<!DOCTYPE html>
<html>{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>docker web可视化管理</title>
    <meta name="keywords" content="Docker, Docker Remote API, Docker 可视化管理">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--basic styles-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}"><!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-ie7.min.css' %}" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui-1.10.3.full.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ui.jqgrid.css' %}">
    <style type="text/css">.ui-jqgrid tr.jqgrow td{overflow: visible;}</style><!-- fonts-->
    <link rel="stylesheet" href="{% static 'assets/css/font-open-sans.css' %}"><!-- ace styles -->
    <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ace-skins.min.css' %}"><!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css'%}" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="{% static 'assets/js/ace-extra.min.js' %}"></script><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
    <!-- define css by gyy-->  
  </head>
  <body>
    <footer><!--base script-->
      <!-- [if !IE]> -->
      <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script><!-- <![endif]-->
      <!--[if IE]>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><![endif]-->
      <script type="text/javascript">if('ontouchend' in document) document.write("<script src='./assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");</script>
      <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/typeahead-bs2.min.js' %}"></script><!-- page specific plugin scripts -->
      <script type="text/javascript" src="{% static 'assets/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery-ui-1.10.3.full.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/date-time/bootstrap-datepicker.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jqGrid/jquery.jqGrid.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jqGrid/i18n/grid.locale-en.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/bootbox.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.gritter.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.easy-pie-chart.min.js' %}"></script><!-- ace scripts -->
      <script type="text/javascript" src="{% static 'assets/js/ace-elements.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/ace.min.js' %}"></script><!-- inline scripts related to this page -->
      <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    </footer>
  </body>
</html>