<a id="menu-toggler" href="#" class="menu-toggler"><span class="menu-text"></span></a>
<div id="sidebar" class="sidebar">
  <script type="text/javascript">try{ace.settings.check('sidebar', 'fixed')}catch(e){}</script>
  <div id="sidebar-shortcuts" class="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
      <button class="btn btn-success"><i class="icon-signal"></i></button>
      <button class="btn btn-info"><i class="icon-pencil"></i></button>
      <button class="btn btn-warning"><i class="icon-group"></i></button>
      <button class="btn btn-danger"><i class="icon-cogs"></i></button>
    </div>
    <div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini"><span class="btn btn-success"></span><span class="btn btn-info"></span><span class="btn btn-warning"></span><span class="btn btn-danger"></span></div>
  </div><!-- #sidebar-shortcuts -->
  <ul class="nav nav-list">
    <li><a href="#/resource"><i class="icon-list"> </i><span>资源概况</span></a></li>
    <li><a href="#" class="dropdown-toggle"><i class="icon-list"></i><span class="menu-text">镜像管理</span><b class="arrow icon-angle-down"></b></a>
      <ul data-info="镜像管理" class="submenu">
        <li data-id="#docker-images" data-info-detail="远程访问并以列表形式显示镜像信息" class="image-list-item"><a href="#/image/list"><i class="icon-double-angle-right"></i>镜像列表</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle"><i class="icon-list"></i><span class="menu-text">容器管理</span><b class="arrow icon-angle-down"></b></a>
      <ul data-info="容器管理" class="submenu">
        <li data-id="#docker-container" data-info-detail="远程访问并以列表形式显示容器信息" class="container-list-item"><a href="#/container/list"><i class="icon-double-angle-right"></i>容器列表</a></li>
      </ul>
    </li>
  </ul><!-- /.nav-list-->
  <div id="sidebar-collapse" class="sidebar-collapse"><i data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right" class="icon-double-angle-left"></i></div>
  <script type="text/javascript">try{ace.settings.check('slidebar', 'collapsed')}catch(e){}</script>
</div>