@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/utilities/sprites";
// $icons: sprite-map("sort/*.png",$new-position: 100%, $new-spacing: 55px, $new-repeat: no-repeat);
// .icon-sort-desc { background: sprite($icons, desc); }

$baseFontColor : #aab2bd;     //默认段落字体颜色
$titleFontColor : #656D78;    //默认标题字体颜色
$textMutedColor: #777; //默认柔色字体
$dangerColor: #e74c3c; //text-danger 字体

$baseBorderColor : #d9d9d9;    //边框颜色
$baseBgColor : #ecf0f1;        //默认网站背景颜色
$basePanelBgColor : white;     //默认面板背景颜色
$linkBaseColor : #337ab7;        //链接颜色
$linkBaseHoverColor : #717171; //链接悬浮颜色
$linkTitleColor : #555;        //标题链接颜色

$linkTitleHoverColor : black;  //标题链接悬浮颜色
$linkLightColor : #4094c7;     //高亮链接颜色
$linkLightHoverColor : #075b8d;//高亮链接悬浮颜色

//msg
$defaultMsgBgColor: #F5BBBB; //默认的消息提示span的背景色
$defaultMsgColor: #895810; //默认的msg消息提醒的span的字体颜色
//navbar
$navBgColor: #3e474e;
$navBdColor: #f49484;
$navBarLinkColor: #337ab7;
$navHoverColor: $linkLightHoverColor;
$navHoverBgColor: darken($navBgColor, 3%);
$navActiveBgColor: darken($navBgColor, 7%);


//btn
$defaultBtnColor: #ecf0f1;
$defaultBtnBdColor: #ccd1d9; //默认的btn的边框颜色
$primaryBtnColor: #5faee3;
$greenBtnColor: #2ecc71;
$blueBtnColor: #4E85F3;


//input
$defaultInputHeight : 33px; //默认input大小

//border
$defaultBorderColor : #EAE9E9;// #e6e9ed;


//form relate
 $formColor: #555;
 $formBdColor:#ddd;
 $formBgColor: #fff;

//size
$navbarSize:85px;
$defaultFontSize : 16px;    //默认字体大小


//default table
$table-title-color: #9ba3af;
$table-bg:  white;
$table-selected-bg: #fffced;
$table-bg-accent : #444;
$table-bg-hover :  rgba(245,247,250, .8);
$table-bg-active : $table-bg-hover;
$table-border-color :  #e4e7ed;
$table-font-color : #595f69;
$pagination-bg : #555;
$pagination-border : #2f2f2f;
$pagination-active-bg : #337ab7;
$pagination-active-border : #337ab7;


//垂直居中容器
.flex-vertical-box{
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
}
