
body,
body.ui{
    background-color:$baseBgColor;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body,
body.ui,
p{
    font-size: 16px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4{
    color: $titleFontColor;
}
h1,
h2{
    font-size: 24px;
    font-weight: 500;
}
h3,
h4{
    font-size: 18px;
    font-weight: 500px;
}
ul,
ol{
    list-style: none;
    padding-left: 0;
    li{
        list-style: none;
    }
}

//btn
.btn,
.btn:active,
.btn:focus,
.btn:hover,
button,
button:active,
button:focus,
button:hover,
input:focus,
select,
select:active,
select:focus,
textarea,
textarea:active,
textarea:focus{
    outline: 0 !important;
}

input,
.input-group-addon, .form-control{
   color: $formColor;
   background-color: $formBgColor;
   border:1px solid $formBdColor;
}
.input-group-addon{
   border-right: 0;
}

.btn.btn-blue{
    background-color: #3890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    @include box-shadow(0 1px 0 hsla(0, 0%, 100%, .08) inset, 0 1px 1px rgba(0, 0, 0, .08));
    @include background-image(linear-gradient(0deg, hsla(0,0%,100%,.06) 0, hsla(0,0%,100%,.06)),linear-gradient(0deg, rgba(9,109,236,.5) 0,rgba(71,153,255,.5)));

    &:hover{
        @include background-image(linear-gradient(0deg,rgba(9,109,236,.5) 0,rgba(71,153,255,.5)));
        color: #fff;
        border-color: #217ef2;
        background-color: #3890ff;
    }
}
.btn-primary{
    background-color: $primaryBtnColor;
    border-color : $primaryBtnColor;
    &:hover,
    &:focus,
    &:active,
    &.active{
        background-color: darken($primaryBtnColor, 5%) !important;
        border-color: darken($primaryBtnColor, 5%) !important;
    }
}
.btn-default{
    background-color: $defaultBtnColor;// #EAE9E9;
}
.btn-more{
    color: $greenBtnColor;
    font-size: 15px;
    line-height: 1;
    padding: 13px;
    border: 1px solid $greenBtnColor;
    background: 0 0;
    @include  border-radius(2px);
    margin: 25px -10px 0;
    width: 100%;
    @include transition(all 200ms);
    &:hover:enabled{
        color: darken($greenBtnColor, 6%);
        border-color: darken($greenBtnColor, 6%);
    }
    &:disabled{
        i{
            color: $greenBtnColor;
        }
    }
}
// >> << icon
.follow-next{
    margin-left: 4px;
}
.followed-previous{
    margin-right: 4px;
}
//link
.navbar{
    @include border-radius(0px);
    overflow: auto;
    height: 100%;
    width: $navbarSize;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    background-color: $navBgColor;
}
.nav.navbar{
    li{
        a{
            border:1px solid transparent;
            &:hover,
            &:active,
            &:focus{
                color: $navHoverColor;
                border:1px solid darken($navHoverBgColor, 7%);
                border-right-width: 0;
            }
            &:hover{
                background-color: $navHoverBgColor;
            }
            &:focus,
            &:active{
                background-color: #fff;
            }
        }
    }
}

//table & pagination
.table,
table {
    width: 100%;
    background-color: $table-bg;
}
.table-striped {
    tbody > tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
}
.table{
    > thead,
    > tbody,
    > tfoot {
      > tr {
         > th {
            text-align: left;
            font-size: 14px;
            padding: 10px;
            font-weight: 400;
            &.text-center{
                text-align: center;
            }

        }
         > td {
            color: $table-font-color;
            white-space: nowrap;
            word-break: break-all;
            padding: 20px 10px;
            vertical-align: middle;
        }
      }
    }
}
.table-bordered, .table-responsive{
    border-color: $table-border-color;
}

.table,
table{
    > thead{
        border: 1px solid transparent;
    }
    > tbody {
        background-color: white;
        border: 1px solid $table-border-color;
        > tr{
            border-bottom: 1px solid #f1f3f6;
            &:hover{
                background-color: $table-bg-hover;
            }
            &.selected{
                background-color: $table-selected-bg;
            }
        }
    }
}


.table-toolbar{
    height: 60px;
}

.table{
    > tbody{
        > tr{
            > td{
                &:first-child{
                    padding-left: 40px;
                }
                &.checkbox{
                    min-width: 50px;
                    width: 50px;
                    display: table-cell;
                    margin: 0;
                    div{
                        height: 100%;
                    }
                    input[type="checkbox"]{
                        position: relative;
                        margin:0;
                    }
                }
                .item-success{
                    color : #22c36a;
                }
            }
        }
    }
    //for image tag
    .item-tag{
        color: $baseFontColor;
        font-size: 13px;
        margin-top: 4px;
    }
}


paging{
    margin: 20px auto;
    display: block;
    text-align: center;
}
.pagination {
    @include border-radius(0px);
    > li {
      > a,
      > span {
        background-color: $pagination-bg;
        border-color: $pagination-border;
        @include border-radius(0px);
      }
      &:first-child,
      &:last-child{
          > span{
              @include border-radius(0px);
          }
      }

    }
    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        @include border-radius(0px);
      }
    }
    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        background-color: $pagination-bg;
        border-color: $pagination-border;
      }
    }
}.table,
table {
    width: 100%;
    background-color: $table-bg;
}
.table-striped {
    tbody > tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
}
.table{
    > thead,
    > tbody,
    > tfoot {
      > tr {
         > th {
            text-align: left;
            font-size: 14px;
            padding: 10px;
            font-weight: 400;
            &.text-center{
                text-align: center;
            }

        }
         > td {
            color: $table-font-color;
            white-space: nowrap;
            word-break: break-all;
            padding: 20px 10px;
            vertical-align: middle;
        }
      }
    }
}
.table-bordered, .table-responsive{
    border-color: $table-border-color;
}

.table,
table{
    > thead{
        border: 1px solid transparent;
    }
    > tbody {
        background-color: white;
        border: 1px solid $table-border-color;
        > tr{
            border-bottom: 1px solid #f1f3f6;
            &:hover{
                background-color: $table-bg-hover;
            }
            &.selected{
                background-color: $table-selected-bg;
            }
        }
    }
}


paging{
    margin: 20px auto;
    display: block;
    text-align: center;
}
.pagination {
    @include border-radius(0px);
    > li {
      > a,
      > span {
        background-color: $pagination-bg;
        border-color: $pagination-border;
        @include border-radius(0px);
      }
      &:first-child,
      &:last-child{
          > span{
              @include border-radius(0px);
          }
      }

    }
    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        @include border-radius(0px);
      }
    }
    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        background-color: $pagination-bg;
        border-color: $pagination-border;
      }
    }
}

//nav navbar
.nav-tabs{
    > li{
        border-bottom: 2px solid transparent;
        > a{
            color: silver;
            &,
            &:hover,
            &:focus,
            &:active{
                color: #666;
                background-color: #fff;
                border-width: 0;
            }
        }
        &.active{
            border-bottom: 2px solid #000;
            a,
            a:hover,
            a:focus,
            a:active{
                font-weight: 700px;
                border-width: 0;
            }
        }
    }
}

//form
form{
    .form-group{
        input[type="text"],
        input[type="file"],
        textarea{
            &:focus{
                border: 1px solid #4882C3;
            }
        }
        .state-error{
            input,select{
                &:not(:focus){
                    background:#fff0f0;
                    border: 1px solid #A90329;
                }
            }
        }
    }
    span.error{
        display:block;
        margin-top:6px;
        padding: 0 1px;
        font-size:11px;
        line-height:15px;
        color:#d56161;
    }

    .range-cpu{
        margin-left:10px;
        width:300px;
    }
    .table,
    table{
        > thead{
            border:1px solid $table-border-color;
        }
    }
}
//进度条
.steps-content{
    width: 80%;
    margin:0 auto;
}
.steps{
    $width: 100%;
    $color: #e5e5e5;
    $blueColor: #7dc374;
    position: relative;
    padding-left: 0px;

    &:before{
        content: "";
        display: block;
        height: 3px;
        width: 66%;
        position:absolute;
        top:20px;
        left:32px;
        background-color: $color;
    }
    &:after{
        clear: both;
        content: "";
        display: table;
    }
    li{

        width: $width/3;
        position:relative;
        float: left;

        @include box-sizing(border-box);
        .step-item{
            display: inline-block;
            font-weight: 700;
            color: #999;
            position: relative;
            text-align: center;
            > div{
                border: 3px solid $color;
                height: 40px;
                width: 40px;
                margin:auto;
                @include border-radius(50%);
                @include display-flex;
                @include justify-content(center);
                @include align-items(center);
                background-color: white;
            }
        }
        &.current:before,
        &.done:after,
        &.done:before{
            background-color: $blueColor;

        }
        &.current,
        &.done{
            .step-item{
                color:$blueColor;
                div{
                    border: 3px solid $blueColor;
                }
            }
        }
        &.last{
            width:auto;
        }
        &:not(.last):after,
        &:not(.last):before{
            content:"";
            display: block;
            height: 3px;
            width: 50%;
            position: absolute;
            top:20px;
        }
        &:not(.last):before{
            left:32px;
        }
        &:not(.last):after{
            right:-32px;
        }

    }
}


.setting-section{
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid $baseBorderColor;
    font-size: 14px
}
.content-body{
    position:relative;
    max-width: 1360px;
    min-width: 360px;
    margin: 30px 30px 0 150px;
}
.panel{
    margin-bottom: 20px;
    background-color: $basePanelBgColor;
    border: 1px solid transparent;
    @include border-radius(2px);
    .panel-body{
        padding: 15px;
    }
    .panel-page-header,
    .primary-section {
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid $defaultBorderColor;

    }
    .primary-section,
    .secondary-section{
        p{
            color: $baseFontColor;
        }
    }
}
//tab-content tab-panel
.tab-content{
    .tab-pane{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
//image container
$imgContainerHeight: 120px;
.img-container{
    float:left;
    width:$imgContainerHeight;
    height: $imgContainerHeight;
    margin-right: 12px;
    img{
        @include border-radius(8px);
    }

}
.img-msg{
    position: relative;
    height: $imgContainerHeight;
    h2{
        color: #000;
        margin: 0;
    }
    button{
        position: absolute;
        bottom: 0px;
    }
}
.text-muted{
    color: $textMutedColor;
}
//返回顶部
.gotop{
  position:fixed;right:2%;bottom:5px;
  width:40px;height:40px;background:rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  @include transition(all .1s);
  i{font-size:2em;color:#fff;margin-top:3px;}
  &:hover{
    background:rgba(0,0,0,0.8);
  }
}

//media
@media (min-width: 768px){
    .form-horizontal{
        .control-label{
            padding-top: 4px;
        }
    }
}
