/**
 *  可以覆盖变量.
 *  bootstrap 变量列表: bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
//$bootstrap-sass-asset-helper: false;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/**
 *  bootstrap 已经包含normalize
 *  自动注入 bower.json中的依赖scss.
 */
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/**
 *  gulp 中任务inject将自动注入其它scss文件
 */
// injector
@import "base.scss";
@import "common.scss";
@import "markdown.scss";
@import "cluster/cluster.scss";
@import "containerCreate/containerCreate.scss";
@import "containerDetail/containerDetail.scss";
@import "containerList/containerList.scss";
@import "imageList/imageList.scss";
@import "main/dashboard.scss";
@import "main/main.scss";
@import "manage/manage.scss";
@import "volume/volume.scss";
@import "settings/settings.scss";
@import "components/header/header.scss";
@import "components/slidebar/slidebar.scss";
// endinjector
