/**
 *  可以覆盖变量.
 *  bootstrap 变量列表: bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
//$bootstrap-sass-asset-helper: false;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/**
 *  bootstrap 已经包含normalize
 *  自动注入 bower.json中的依赖scss.
 */
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/**
 *  gulp 中任务inject将自动注入其它scss文件
 */
// injector
@import "base.scss";
@import "common.scss";
@import "containerCreate/containerCreate.scss";
@import "containerDetail/containerDetail.scss";
@import "containerList/containerList.scss";
@import "imageList/imageList.scss";
@import "main/main.scss";
@import "components/slidebar/slidebar.scss";
// endinjector


body,
body.ui{
    background-color:$baseBgColor;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body,
body.ui,
p{
    color: $baseFontColor;
    font-size: 16px;
    margin-bottom: 20px;
}
h1,
h2,
h3,
h4{
    color:$titleFontColor;
}
h1,
h2{
    font-size: 24px;
    font-weight: 500;
}
h3,
h4{
    font-size: 18px;
    font-weight: 500px;
}
.content-body{
    position:relative;
    max-width: 1360px;
    min-width: 360px;
    margin: 30px 30px 0 150px;
}
.panel{
    margin-bottom: 20px;
    background-color: $basePanelBgColor;
    border: 1px solid transparent;
    border-radius: 2px;
    .panel-body{
        padding: 15px;
    }
    .panel-page-header,
    .primary-section {
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid $defaultBorderColor;
    }
}
.table-toolbar{
    height: 60px;
}
.navbar{
    @include border-radius(0px);
    overflow: auto;
    height: 100%;
    width: $navbarSize;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    background-color: $navBgColor;
}
.table{
    > tbody{
        > tr{
            > td{
                &:first-child{
                    padding-left: 40px;
                }
                &.checkbox{
                    min-width: 50px;
                    width: 50px;
                    display: table-cell;
                    margin: 0;
                    div{
                        height: 100%;
                    }
                    input[type="checkbox"]{
                        position: relative;
                        margin:0;
                    }
                }
                .item-success{
                    color : #22c36a;
                }
            }
        }
    }
    //for image tag
    .item-tag{
        color: $baseFontColor;
        font-size: 13px;
        margin-top: 4px;
    }
}
