a.menu-toggler#menu-toggler(href="#")
    span.menu-text
.sidebar#sidebar
    script(type="text/javascript").
      try{ace.settings.check('sidebar', 'fixed')}catch(e){}
    .sidebar-shortcuts#sidebar-shortcuts
        .sidebar-shortcuts-large#sidebar-shortcuts-large
            button.btn.btn-success
              i.icon-signal
            button.btn.btn-info
              i.icon-pencil
            button.btn.btn-warning
              i.icon-group
            button.btn.btn-danger
              i.icon-cogs
        .sidebar-shortcuts-mini#sidebar-shortcuts-mini
            span.btn.btn-success
            span.btn.btn-info
            span.btn.btn-warning
            span.btn.btn-danger
    <!-- #sidebar-shortcuts -->
    ul.nav.nav-list
        li
            a(href='#/resource')
                i.icon-list 
                span 资源概况
        li
            a.dropdown-toggle(href="#")
                i.icon-list
                span.menu-text 镜像管理
                b.arrow.icon-angle-down
            ul.submenu(data-info="镜像管理")
                li.image-list-item(data-id="#docker-images", data-info-detail="远程访问并以列表形式显示镜像信息")
                    a(href="#/image/list")
                        i.icon-double-angle-right
                        | 镜像列表
        li
            a.dropdown-toggle(href="#")
                i.icon-list
                span.menu-text 容器管理
                b.arrow.icon-angle-down
            ul.submenu(data-info="容器管理")
                li.container-list-item(data-id="#docker-container", data-info-detail="远程访问并以列表形式显示容器信息")
                    a(href="#/container/list")
                        i.icon-double-angle-right
                        | 容器列表
    <!-- /.nav-list-->
    .sidebar-collapse#sidebar-collapse
        i.icon-double-angle-left(data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right")
    script(type="text/javascript").
      try{ace.settings.check('slidebar', 'collapsed')}catch(e){}
