div.ui.navbar(ng-controller="navBarCtrl")
    ul.nav.nav-pills.nav-stacked
        li
            a.text-center(tooltip-placement="right" tooltip="控制台" tooltip-append-to-body="true" ui-sref="dashboard")
                svg(alt="控制台")
                    use(xlink:href="{{ currentUrl.docker }}")
        li(ng-class="{'active': navs[0].active}")
            a.text-center( tooltip-placement="right" tooltip="集群状况" tooltip-append-to-body="true"  ui-sref="cluster") 
                svg(alt="集群状况")
                    use(xlink:href="{{ currentUrl.server }}")
        li(ng-class="{'active': navs[1].active}")
            a.text-center(tooltip-placement="right" tooltip="镜像列表" tooltip-append-to-body="true"  ui-sref="imageList")
                svg(alt="镜像列表")
                    use(xlink:href="{{ currentUrl.shop }}")
        li(ng-class="{'active': navs[2].active}")
            a.text-center(tooltip-placement="right" tooltip="容器列表" tooltip-append-to-body="true"  ui-sref="containerList")
                svg(alt="容器列表")
                    use(xlink:href="{{ currentUrl.applist }}")
        li(ng-class="{'active': navs[3].active}") 
            a.text-center(tooltip-placement="right" tooltip="数据卷" tooltip-append-to-body="true" ui-sref="volume")
                svg(alt="数据卷")
                    use(xlink:href="{{ currentUrl.volume }}")
