#sidebar
    // #sidebar-shortcuts
    ul.nav.navbar.navbar-default
        li 
            a.text-center(ui-sref="home")
                span.menu-text 控制台
        li
            a.text-center(ui-sref="cluster") 
                span.menu-text 集群资源
        li
            a.text-center(ui-sref="imageList")
                span.menu-text 镜像管理
        li
            a.text-center(ui-sref="containerList")
                span.menu-text 应用列表
