doctype html
html.loading(ng-app="dockerApp")
    head
        meta(charset="utf-8")
        title docker集群可视化管理
        base(href="/")
        meta(name="description" content="this is docker swarm manager")
        meta(name="keyword" content="docker visual node angular swarm")
        meta(name="viewport" content="width=device-width")
        //- Place favicon.ico and apple-touch-icon.png in the root directory 
        //- bower:css 
        //- endbower
        //- inject:css
        //- css file will be automatically insert here 
        //- endinject
        //- bower:js
        //- run `gulp inject` to automatically populate bower script dependencies -->
        //- endbower
    body.ui
        include ./assets/images/all.svg
        .row
            .col-xs-12
                div(ng-if="pageClass != 'dashboard'" ng-cloak)
                    include  ./app/components/slidebar/slidebar.jade
                div(ui-view)
        div.loader(style="position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);", ng-hide="load.loaded" aria-hidden="true")
            div.loader-inner.pacman
                div(ng-style="{'border-color': (pageClass && pageClass==='dashboard')?'#fff transparent #fff #fff':'#ccc transparent #ccc #ccc'}" style="border-color: rgb(204, 204, 204) transparent rgb(204, 204, 204) rgb(204, 204, 204);")
                div(ng-style="{'border-color': (pageClass && pageClass==='dashboard')?'#fff transparent #fff #fff':'#ccc transparent #ccc #ccc'}" style="border-color: rgb(204, 204, 204) transparent rgb(204, 204, 204) rgb(204, 204, 204);")
                div(ng-style="{'background-color': (pageClass && pageClass==='dashboard')?'#fff':'#ccc'}" style="background-color: rgb(204, 204, 204);")
                div(ng-style="{'background-color': (pageClass && pageClass==='dashboard')?'#fff':'#ccc'}" style="background-color: rgb(204, 204, 204);")
                div(ng-style="{'background-color': (pageClass && pageClass==='dashboard')?'#fff':'#ccc'}" style="background-color: rgb(204, 204, 204);")        
                    
        script(src="http://localhost:9090/socket.io/socket.io.js")


        //- inject:js
        //-js files will be automatically insert here -->
        //- endinject
