.content-body.container-detail(ng-if="load.loaded")
    .panel.panel-default.panel-page-header
        .panel-body
            .primary-section.clearfix
                div.img-container
                    img.img-responsive(ng-src="/assets/images/container.svg")
                div.img-msg
                    h2 {{ container.name }}
                    div.sub-title.text-muted 部署于
                        span.node-name
                            strong {{ container.node }}
                            | 节点
                    button.btn.btn-success(ng-click="stopContainer()" ng-if="container.status == 'running' " tabindex="0") 停止
                    button.btn.btn-primary(ng-click="startContainer()" ng-if="container.status != 'running' " tabindex="0") 开启
                    hr
                    div.sm-title-info.clearfix
                        div.text-muted
                            div
                                span.sm-title 状态:
                                span.sm-text.running.text-success(ng-if="container.status == 'running'") 运行中
                                span.sm-text.stop.text-danger(ng-if="container.status == 'stop'") 已停止
                            div
                                span.sm-title 网络模式:
                                span.sm-text {{ container.networkMode }}
                            div(ng-if="container.status == 'running' && container.ip")
                                span.sm-title 容器ip: 
                                span.sm-text {{ container.ip }}
                        
                    div.sm-title-info.clearfix
                        div.text-muted
                            div
                                span.sm-title 所属镜像:
                                span.sm-text {{ container.image }}
                                span.sm-text
                                    i.fa.fa-tag
                                    | {{ container.imageTag }}
                        div.text-muted
                            div
                                span.sm-title 部署时间:
                                span.sm-text {{ container.time }}
                            
    .panel
        section.panel-body
            tabset
                tab(index="0" heading="配置")
                    div.content-block        
                        div.section.row
                            .section-heading.col-sm-3.col-md-2 服务端口
                            .section-content.col-sm-9.col-md-8
                                div.well(ng-if="!container.portList.length") 该容器实例没有服务端口
                                div.table-container(ng-if="container.portList.length > 0")
                                    table.table.table-bordered
                                        thead
                                            tr 
                                                th.text-center 容器端口
                                                th 主机端口(映射端口)
                                                th 协议
                                        tbody
                                            tr(ng-repeat="item in container.portList")
                                                td.text-center {{ item.exposePort }}
                                                td 
                                                    span(ng-if="item.bindHostPort ") {{ item.bindHostPort }}
                                                    span(ng-if="!item.bindHostPort") 没有映射主机端口
                                                td {{ item.protocal }}
                        div.section.row
                            .section-heading.col-sm-3.col-md-2 服务绑定
                            .section-content.col-sm-9.col-md-8
                                div.well(ng-if="!container.serviceList.length") 该容器实例没有绑定的服务
                                div.table-container(ng-if="container.serviceList.length > 0")
                                    table.table.table-bordered
                                        thead
                                            tr 
                                                th.text-center 服务
                                                th 服务别名
                                        tbody
                                            tr(ng-repeat="item in container.serviceList")
                                                td.text-center {{ item.service }}
                                                td {{ item.serviceAlias }}
                        div.section.row
                            .section-heading.col-sm-3.col-md-2 数据卷
                            .section-content.col-sm-9.col-md-8
                                div.well(ng-if="!container.volumesList.length") 该容器实例没有挂载数据卷
                                div.table-container(ng-if="container.volumesList.length > 0")
                                    table.table.table-bordered
                                        thead
                                            tr 
                                                th.text-center 挂载目录(容器)
                                                th 数据卷名称
                                        tbody
                                            tr(ng-repeat="item in container.volumesList")
                                                td.text-center {{ item.destination }}
                                                td {{ item.volumeName }}
                        div.section.row
                            .section-heading.col-sm-3.col-md-2 环境变量
                            .section-content.col-sm-9.col-md-8
                                div.well(ng-if="!container.envList.length") 该容器实例没有自定义环境变量
                                div.table-container(ng-if="container.envList.length > 0")
                                    table.table.table-bordered
                                        thead
                                            tr 
                                                th.text-center 键
                                                th 值
                                        tbody
                                            tr(ng-repeat="item in container.envList")
                                                td.text-center {{ item.name }}
                                                td {{ item.value }}
                        
                tab(index="1" heading="监控")
                    ul.nav.nav-pills
                        li.active
                            a(href="#J_tab_real" data-toggle="tab" mytab aria-expanded="true") 实时
                        li
                            a(href="#J_tab_day" data-toggle="tab" mytab aria-expanded="true" ng-click="getMetrics('day')") 24小时
                    div.tab-content
                        div.tab-pane.clearfix.active#J_tab_real
                            chart
                                div#cpuReal(style="width: 1100px; height:400px;")
                                div#memReal(style="width: 1100px; height:400px;")
                                div#bandwidthReal(style="width: 1100px; height:400px;")
                        div.tab-pane.clearfix#J_tab_day
                            chart
                                div#cpu(style="width: 1100px; height:400px;")
                                div#mem(style="width: 1100px; height:400px;")
                                div#bandwidth(style="width: 1100px; height:400px;")
                                    
                        
                tab(index="2" heading="日志" select="logInit=true" active="isFirst")
                    div.log(style="position:relative")
                        div(container-log  data-loading-class="loading-log" container="container" status="container.status" init="logInit")
                tab(index="3" heading="设置")
                    div.content-block
                        div.section.row
                            div.section-heading.col-sm-3.col-md-2 删除应用
                            div.section-content.col-sm-9.sol-md-8 
                                p 请注意，删除应用将清除该应用的所有数据，且该操作不能被恢复，您确定要删除吗?
                                button.btn.btn-danger(ng-click="delete()" tabindex="0") 删除应用
                                    
                                
                            
